.button {
    background-color: #546bab;
    -fx-background-color: #546bab;
    -fx-text-fill: white;
}

.button:hover {
    background-color: #2e4482;
    -fx-background-color: #2e4482;
}

.button:pressed {
    background-color: #2e4482;
    -fx-background-color: #2e4482;
}

.button:focused {
    background-color: #273a6f;
    -fx-background-color: #273a6f;
    border-color: #2e4482;
    border-width: 0px 0px 0px 3px;
}

.toggle-button {
    background-color: #546bab;
    -fx-background-color: #546bab;
}

.toggle-button:hover {
    background-color: #2e4482;
    -fx-background-color: #2e4482;
}

.toggle-button:pressed {
    background-color: #2e4482;
    -fx-background-color: #2e4482;
}

.toggle-button:focused {
    background-color: #273a6f;
    -fx-background-color: #273a6f;
    border-color: #2e4482;
    border-width: 0px 0px 0px 3px;
}

.menu-button {
    background-color:  #2e4482;
    -fx-background-color:  #2e4482;
}

.menu-button:hover {
    background-color:  #546bab;
    -fx-background-color:  #546bab;
}

.menu-button > .arrow-button {
    padding: 0;
    -fx-padding: 0;
}

.menu-button > .arrow-button > .arrow {
    padding: 0;
    -fx-padding: 0;
}

.context-menu {
    background-color: #273a6f;
    -fx-background-color: #273a6f;

}

.context-menu .label {
    -fx-text-fill: white;
}

.titled-pane .title {
    background-color:  #2e4482;
    -fx-background-color:  #2e4482;
}

.titled-pane *.content {
    background-color:  #2e4482;
    -fx-background-color:  #2e4482;
}

.split-pane *.split-pane-divider {
    background-color:  #546bab;
    -fx-background-color:  #546bab;
    padding: 0 1 0 1;
    -fx-padding: 0 1 0 1;
}

HBox {
    background-color:  #2e4482;
    -fx-background-color:  #2e4482;
}

BorderPane {
    background-color:  #2e4482;
    -fx-background-color:  #2e4482;
}

.tooltip {
    -fx-show-delay: 250ms;
}