.button {
    background-color: #546bab;
    -fx-background-color: #546bab;
}

.button:hover {
    background-color: #2e4482;
    -fx-background-color: #2e4482;
}

.button:pressed {
    background-color: #2e4482;
    -fx-background-color: #2e4482;
}

.button:focused {
    background-color: #273a6f;
    -fx-background-color: #273a6f;
    border-color: #2e4482;
    border-width: 0px 0px 0px 3px;
}

.menu-button {
    background-color:  #2e4482;
    -fx-background-color:  #2e4482;
}

.menu-button:hover {
    background-color:  #546bab;
    -fx-background-color:  #546bab;
}

.menu-button:focused {
    background-color: #273a6f;
    -fx-background-color: #273a6f;
}

.menu-button .arrow {
    -fx-background-insets: 1 0 -1 0, 0;
    background-color: -fx-mark-color, #546bab;
    padding: 0.25em;
    -fx-shape: "M 0 -3.5 v 7 l 4 -3.5 z";
}

.menu-button:hover .arrow {
    -fx-background-insets: 1 0 -1 0, 0;
    background-color: -fx-mark-highlight-color, -fx-mark-color;
    padding: 0.25em;
    -fx-shape: "M 0 -3.5 v 7 l 4 -3.5 z";
}

.menu-button:openvertically .arrow {
    padding: 0.166667em 0.333333em 0.166667em 0.333333em;
    -fx-shape: "M 0 0 h 7 l -3.5 4 z";
}

.context-menu {
    background-color: #273a6f;
    -fx-background-color: #273a6f;

}

.context-menu .label {
    -fx-text-fill: white;
}

.accordian {
    background-color:  #2e4482;
    -fx-background-color:  #2e4482;
}

.titled-pane .title{
    background-color:  #2e4482;
    -fx-background-color:  #2e4482;
}

.titled-pane *.content {
    background-color:  #2e4482;
    -fx-background-color:  #2e4482;
}

.accordian:hover {
    background-color:  #546bab;
    -fx-background-color:  #546bab;
}

.accordian:focused {
    background-color: #273a6f;
    -fx-background-color: #273a6f;
}